{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Welcome to Taskmate!</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-lg-4">
                <img src="{% static 'images/note2.jpg' %}" alt="Notes" class="rounded-lg shadow" width="360" height="250" >
            </div>
            <div class="col-lg-4">
                <img src="{% static 'images/note1.jpg' %}" alt="Notes" class="rounded-lg shadow" width="360" height="250" >
            </div>
            <div class="col-lg-4">
                <img src="{% static 'images/note3.jpg' %}" alt="Notes" class="rounded-lg shadow" width="360" height="250" >
            </div>
        </div>    
        <div class="row mt-4">
            <div class="col-md-10 offset-md-1">
                <center><p class="h5">Here We GO!</p></center>
                <center><p class="h3 mt-3 text-success">Our First Website!</p></center>
                <center><p class="h1 mt-3 text-primary">With django! =)</p></center>

                {% if user.is_authenticated %}
                    <center><a href="{% url 'todolist' %}"><button type="button" class="btn btn-primary btn-lg mt-5 shadow">Lets's Go!</button></a></center>
                {% else %}
                    <center><a href="{% url 'login' %}"><button type="button" class="btn btn-primary btn-lg mt-5 shadow">Lets's Go!</button></a></center>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}